<div id="world-map" style="width: 1170; height: 560px"></div>
<script>
  $(function(){
    $('#world-map').vectorMap({
      map: 'world_mill_en',
      backgroundColor: '#FFFFFF',
      zoomOnScroll: false,
      regionStyle: {
        initial: {
          fill: '#50CDB1',
          "fill-opacity": 1,
          stroke: 'none',
          "stroke-width": 0,
          "stroke-opacity": 1
        },
        hover: {
          "fill-opacity": 0.8,
          cursor: 'pointer'
        },
        selected: {
          fill: 'yellow'
        },
        selectedHover: {
        }
      },
      markers: [
        {latLng: [47.38, -122.19], name: 'Seattle'},
        {latLng: [25.21, 55.23], name: 'Sharjah'},
        {latLng: [28.36, 77.13], name: 'Delhi'},
        {latLng: [12.74, 77.83], name: 'Hosur'},
        {latLng: [13.5, 80.16], name: 'Chennai'},
        {latLng: [22.47, 86.12], name: 'Jamshedpur'},
        {latLng: [34.5, 74.47], name: 'Srinagar'},
        {latLng: [26.7588, 83.3697], name: 'Ghorakhpur'},
        {latLng: [26.51, 80.57], name: 'Lucknow'},
        {latLng: [9.97, 76.28], name: 'Kochi'},
        {latLng: [39.57, -75.09], name: 'Philadelphia'},
        {latLng: [37.31, -122.17], name: 'Belmont'},
        {latLng: [37.25, -122.08], name: 'Palo Alto'},
        {latLng: [33.01, -96.41], name: 'Plano'},
      ],
      markerStyle: {
        initial: {
          fill: '#7d63aa',
          stroke: '#7d63aa',
          "fill-opacity": 1,
          "stroke-width": 1,
          "stroke-opacity": 1,
          r: 5
        },
        hover: {
          stroke: 'black',
          "stroke-width": 2,
          cursor: 'pointer'
        },
        selected: {
          fill: 'blue'
        },
        selectedHover: {
        }
      }
    });
  });
</script>
