<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

    <link rel="icon" type="image/png" href="/assets/favicon.png"/>
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">

    <link href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" rel="stylesheet" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="assets/css/bootstrap-minty.min.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/jquery-jvectormap-2.0.3.css" rel="stylesheet" type="text/css" media="screen"/>
  </head>

  <body>

    <nav class="container navbar scrolling-navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">MHEA</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
          <a class="nav-item nav-link" href="#motivation">Our Motivation</a>
          <a class="nav-item nav-link" href="#solution">Our Solution</a>
          <a class="nav-item nav-link" href="#read">Read Up</a>
          <a class="nav-item nav-link" href="#team">Our Team</a>
          <a class="nav-item nav-link" href="#contact">Contact</a>
        </div>
      </div>
    </nav>

    <header class="masthead bg-primary text-white text-center">
      <div class="container">
        <img class="img-fluid mb-5 pt-5 pb-5 d-block mx-auto" src="assets/img/logo.png" width="50%">
      </div>
    </header>

    <section id="intro" class="container" style="margin-top: -300px">
      <div class="row">
        {% for card in site.data.cards.intro %}
        <div class="col-md col-sm-12">
          <div class="card bg-light">
            <div class="card-body text-center">
              <h3 class="card-title text-primary"><i class="fas fa-{{ card.symbol }}"></i></h3>
              <h4 class="card-title text-primary"><b>{{ card.title }}</b></h4>
              <p class="card-text"><b>{{ card.desc }}</b></p>
              {% if card.button %}
              <p class="card-text">
                <a href="{{ card.button.link }}" class="btn btn-primary">{{ card.button.name }}</a>
              </p>
              {% endif %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </section>

    <section id="motivation">
      <div class="container">
        <h1 class="display-3 text-primary text-center">Our Motivation</h1>
        <div class="row">
          {% for person in site.data.people.people %}
          {% if person.quote %}
          <div class="col">
            <div class="box-testimony">
              <blockquote >
                <p>{{ person.quote }}</p>
              </blockquote>
              <div class="author">
                <figure><img src="assets/img/people/{{ person.image }}" alt="Person"></figure>
                <p>{{ person.name }}<span class="subtext">{{ person.position }}</span></p>
              </div>
            </div>
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </section>

    <section id="solution">
      <div class="container">
        <h1 class="display-3 p-5 text-white text-center">Our Solution</h1>
        <div class="row">
          {% for card in site.data.cards.solution %}
          <div class="col-md-6 col-sm-12">
            <div class="card text-white mb-3" style="background-color: transparent; border: none">
              <div class="card-body">
                <h1 class="card-title" style="font-size: 80px"><i class="fas fa-{{ card.symbol }}"></i></h1>
                <h4 class="card-title"><b>{{ card.title }}</b></h4>
                <p class="card-text">{{ card.desc }}</p>
              </div>
            </div>
          </div>
          <br>
          {% endfor %}
        </div>
      </div>
    </section>

    <section id="read" class="container">
      <h1 class="display-3 p-5 text-primary text-center">Read Up</h1>
      <div style="margin: 10px" class="text-center mt-4">
        <form action="/learn-more.html">
          <button class="btn btn-primary" type="submit" style="font-size: 25px">Learn More</button>
        </form>
        <br> <br> <br>
        <form action="/your-story.html">
          <button class="btn btn-primary" type="submit" style="font-size: 25px">Share Your Story</button>
        </form>
      </div>
    </section>

    <section id="team" class="container text-center">
      <h1 class="display-3 p-5 text-primary">Our Team</h1>
      <div class="row">
        {% for item in site.data.people.people %}
          {% if item.title %}
            </div>
            <h1 class="display-4 p-5 mb-5">{{ item.title }}</h1>
            <div class="row">
          {% else %}
            <div class="col-md-{{ item.size | default: 3 }} col-sm-12 d-flex align-items-stretch pb-5">
              <div class="card mb-5">
                <img src="assets/img/people/{{ item.image }}">
                <div class="card-body mt-5">
                  <h3 class="card-title">{{ item.name }}</h3>
                  <h5 class="card-subtitle mb-2">{{ item.position }}</h5>
                  <p class="card-text">{{ item.desc }}</p>
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </section>

    <section id="contact" class="text-center">
      <div class="container">
        <h1 class="display-3 p-5 text-white">Contact</h1>
        <div class="row-md-4">
          <form method="POST" action="https://formspree.io/contact@projectmhea.org">
            <div class="row">
              <div class="col m-2">
                <input type="text" name="name" class="form-control" placeholder="Name">
              </div>
              <div class="col m-2">
                <input type="email" name="email" class="form-control" placeholder="Email">
              </div>
            </div>
            <div class="row">
              <div class="col m-2">
                <input type="text" name="school" class="form-control" placeholder="School"/>
              </div>
              <div class="col m-2">
                <input type="text" name="city" class="form-control" placeholder="City"/>
              </div>
            </div>
            <textarea type="text" name="message" class="form-control m-2" rows="7" placeholder="Message"></textarea>
            <div style="margin: 10px" class="text-center mt-4">
              <button class="btn btn-primary" type="submit">Send<i class="fas fa-paper-plane ml-2"></i></button>
            </div>
          </form>
        </div>
      </div>
    </section>

    {{ content }}

    <script type="text/javascript" src="assets/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="assets/js/popper.min.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery-jvectormap-2.0.3.min.js"></script>
    <script src="assets/js/jquery-jvectormap-world-mill-en.js"></script>
  </body>
</html>
