<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    <header role="banner" id="fh5co-header">
      <div class="container">
          <nav class="navbar navbar-default">
            <div class="navbar-header">
              <!-- Mobile Toggle Menu Button -->
              <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
              <a class="navbar-brand" href="index.html">MHEA</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#" data-nav-section="home"><span>Home</span></a></li>
                <li><a href="#" data-nav-section="work"><span>Our Mission</span></a></li>
                <li><a href="#" data-nav-section="testimonials"><span>Our Motivation</span></a></li>
                <li><a href="#" data-nav-section="services"><span>Our Solution</span></a></li>
                <li><a href="#" data-nav-section="about"><span>Our Team</span></a></li>
                <li><a href="#" data-nav-section="contact"><span>Contact</span></a></li>
              </ul>
            </div>
          </nav>
      </div>
    </header>

    <section id="fh5co-home" data-section="home" style="background-image: url(assets/images/boyFading.jpg);" data-stellar-background-ratio="0.5">
      <div class="gradient"></div>
      <div class="container">
        <div class="text-wrap">
          <div class="text-inner">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <h1 class="to-animate"><img src = "assets/images/logo.png" width="50%"></img></h1>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="slant"></div>
    </section>

    <section id="fh5co-intro">
      <div class="container">
        <div class="row row-bottom-padded-lg">
          <div class="fh5co-block to-animate" style="background-image: url(assets/images/whoarewe.jpg);">
            <div class="overlay-darker"></div>
            <div class="overlay"></div>
            <div class="fh5co-text">
              <i class="fh5co-intro-icon icon-question"></i>
              <h2>Who We Are</h2>
              <p><b>The team behind MHEA, founded at the University of Washington, Seattle, includes undergraduates interested in studying a variety of academic disciplines. A passion for mental health advocacy is what unites us.</b></p>
            </div>
          </div>
          <div class="fh5co-block to-animate" style="background-image: url(assets/images/whatwedo.jpg);">
            <div class="overlay-darker"></div>
            <div class="overlay"></div>
            <div class="fh5co-text">
              <i class="fh5co-intro-icon icon-heart"></i>
              <h2>What We do</h2>
              <p><b>MHEA acts as an organization that stresses awareness of mental health and support to individuals in India through a peer to student model. These volunteers will attend local high schools and demonstrate both the importance of mental health, as well as their support for people afflicted. This increase of awareness and support will decrease mental health issues in the community and help the community as a whole.</b></p>
            </div>
          </div>
          <div class="fh5co-block to-animate" style="background-image: url(assets/images/aboutus.jpg);">
            <div class="overlay-darker"></div>
            <div class="overlay"></div>
            <div class="fh5co-text">
              <i class="fh5co-intro-icon icon-people"></i>
              <h2>About US</h2>
              <p><b>In our endeavor to equip adolescents with a familiarity and understanding of mental illness, MHEA provides a platform for peers to lead one another towards a state of acceptance and recognition.
              </b></p>
              <p><a href="#fh5co-about" class="btn btn-primary">OUR TEAM</a></p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="fh5co-work" data-section="work">
      <div class="container">
        <div class="row">
          <div class="col-md-12 section-heading text-center">
            <h2 class="to-animate">Our Mission</h2>
            <div class="row">
              <div class="col-md-8 col-md-offset-2 subtext to-animate">
                <h3>In our endeavor to equip adolescents with a familiarity and understanding of mental illness, MHEA provides a platform for peers to lead one another towards a state of acceptance and recognition.</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="row row-bottom-padded-sm">
          <div class="col-md-4 col-sm-6 col-xxs-12">
            <a href="assets/images/work_1.jpg" class="fh5co-project-item image-popup to-animate">
              <img src="assets/images/work_1.jpg" alt="Image" class="img-responsive">
              <div class="fh5co-text">
                <h2>Stage 1</h2>
                <span>Recognition</span>
              </div>
            </a>
          </div>
          <div class="col-md-4 col-sm-6 col-xxs-12">
            <a href="assets/images/work_2.jpg" class="fh5co-project-item image-popup to-animate">
              <img src="assets/images/work_2.jpg" alt="Image" class="img-responsive">
              <div class="fh5co-text">
                <h2>Stage 2</h2>
                <span>Outreach</span>
              </div>
            </a>
          </div>

          <div class="clearfix visible-sm-block"></div>

          <div class="col-md-4 col-sm-6 col-xxs-12">
            <a href="assets/images/work_3.jpg" class="fh5co-project-item image-popup to-animate">
              <img src="assets/images/work_3.jpg" alt="Image" class="img-responsive">
              <div class="fh5co-text">
                <h2>Stage 3</h2>
                <span>Acceptance</span>
              </div>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center to-animate">
            <p>* Demo images from <a href="http://plmd.me/" target="_blank">plmd.me</a></p>
          </div>
        </div>
      </div>
    </section>

    <section id="fh5co-testimonials" data-section="testimonials">
      <div class="container">
        <div class="row">
          <div class="col-md-12 section-heading text-center">
            <h2 class="to-animate">Our Motivation</h2>
          </div>
        </div>
        <div class="row">
          {% for row in site.data.people.people %}
            {% for person in row.row %}
              {% if person.quote %}
                <div class="col-md-4">
                  <div class="box-testimony">
                    <blockquote class="to-animate-2">
                      <p>{{ person.quote }}</p>
                    </blockquote>
                    <div class="author to-animate">
                      <figure><img src="assets/images/people/{{ person.image }}" alt="Person"></figure>
                      <p>{{ person.name }}<span class="subtext">{{ person.position }}</span></p>
                    </div>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          {% endfor %}
        </div>
      </div>
    </section>


    <section id="fh5co-services" data-section="services">
      <div class="container">
        <div class="row">
          <div class="col-md-12 section-heading text-left">
            <h2 class=" left-border to-animate">Our solution</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-6 fh5co-service to-animate">
            <i class="icon to-animate-2 icon-speech"></i>
            <h3>Platform</h3>
            <p>We aim to provide a platform for peers to interact and lead one another towards awareness about mental health issues and coping with them. This conversation is initiated with the aim to destigmatize mental health.</p>
          </div>
          <div class="col-md-6 col-sm-6 fh5co-service to-animate">
            <i class="icon to-animate-2 icon-chart"></i>
            <h3>Workshops</h3>
            <p> Our trained volunteers conduct a series of peer-led discussion workshops for students in classes 9 to 12. Through these workshops, students get opportunities to develop important skills that help them cope and support a friend having issues with mental health.</p>
          </div>

          <div class="clearfix visible-sm-block"></div>

          <div class="col-md-6 col-sm-6 fh5co-service to-animate">
            <i class="icon to-animate-2 icon-notebook"></i>
            <h3>Learning</h3>
            <p>Participating students learn about depression, anxiety, stress and suicide and their symptoms, treatments and how to cope with them. They are also equipped with strategies to support a friend.</p>
          </div>
          <div class="col-md-6 col-sm-6 fh5co-service to-animate">
            <i class="icon to-animate-2 icon-monitor"></i>
            <h3>Training</h3>
            <p>Volunteers are trained by the MHEA team to successfully conduct these workshops, facilitate conversations about mental health among students and guide them to mental health resources in their city.</p>
          </div>

        </div>
      </div>
    </section>

    <section id="fh5co-about" data-section="about">
      <div class="container">
        <div class="row">
          <div class="col-md-12 section-heading text-center">
            <h2 class="to-animate">Our Team</h2>
          </div>
        </div>
        {% for row in site.data.people.people %}
            {% if row.title %}
              <div class="col-md-12 section-heading text-center">
                <div class="row">
                  <div class="col-md-8 col-md-offset-2 subtext to-animate">
                    <h3 style="font-size:30px"><b>{{ row.title }}</b></h3>
                  </div>
                </div>
              </div>
            {% else %}
              <div class="row" style = "margin-top:8%">
                {% for person in row.row %}
                  <div class="col-md-{{ row.size }}">
                    <div class="fh5co-person text-center to-animate">
                      {% if person.image %}
                        <figure><img src="assets/images/people/{{ person.image }}" alt="Image"></figure>
                      {% endif %}
                      <h3>{{ person.name }}</h3>
                      <span class="fh5co-position">{{ person.position }}</span>
                      <p>{{ person.desc }}</p>
                      <!-- <ul class="social social-circle"> -->
                      <!--   <li><a href="#"><i class="icon-twitter"></i></a></li> -->
                      <!--   <li><a href="#"><i class="icon-facebook"></i></a></li> -->
                      <!--   <li><a href="#"><i class="icon-dribbble"></i></a></li> -->
                      <!-- </ul> -->
                    </div>
                  </div>
                {% endfor %}
              </div>
            {% endif %}
        {% endfor %}
      </div>
    </section>

    <!-- <section id="fh5co-counters" style="background-image: url(assets/images/full_image_1.jpg);" data-stellar-background-ratio="0.5"> -->
    <!--   <div class="fh5co-overlay"></div> -->
    <!--   <div class="container"> -->
    <!--     <div class="row"> -->
    <!--       <div class="col-md-12 section-heading text-center to-animate"> -->
    <!--         <h2>Current Outreach</h2> -->
    <!--       </div> -->
    <!--     </div> -->
    <!--     <div class="row"> -->
    <!--       <div class="col-md-3 col-sm-6 col-xs-12"> -->
    <!--         <div class="fh5co-counter to-animate"> -->
    <!--           <i class="fh5co-counter-icon icon-people to-animate-2"></i> -->
    <!--           <span class="fh5co-counter-number js-counter" data-from="0" data-to="89" data-speed="5000" data-refresh-interval="50">89</span> -->
    <!--           <span class="fh5co-counter-label">Volunteers</span> -->
    <!--         </div> -->
    <!--       </div> -->
    <!--       <div class="col-md-3 col-sm-6 col-xs-12"> -->
    <!--         <div class="fh5co-counter to-animate"> -->
    <!--           <i class="fh5co-counter-icon icon-code to-animate-2"></i> -->
    <!--           <span class="fh5co-counter-number js-counter" data-from="0" data-to="2343409" data-speed="5000" data-refresh-interval="50">2343409</span> -->
    <!--           <span class="fh5co-counter-label">Cities</span> -->
    <!--         </div> -->
    <!--       </div> -->
    <!--       <div class="col-md-3 col-sm-6 col-xs-12"> -->
    <!--         <div class="fh5co-counter to-animate"> -->
    <!--           <i class="fh5co-counter-icon icon-cup to-animate-2"></i> -->
    <!--           <span class="fh5co-counter-number js-counter" data-from="0" data-to="1302" data-speed="5000" data-refresh-interval="50">1302</span> -->
    <!--           <span class="fh5co-counter-label">Schools</span> -->
    <!--         </div> -->
    <!--       </div> -->
    <!--       <div class="col-md-3 col-sm-6 col-xs-12"> -->
    <!--         <div class="fh5co-counter to-animate"> -->
    <!--           <i class="fh5co-counter-icon icon-people to-animate-2"></i> -->
    <!--           <span class="fh5co-counter-number js-counter" data-from="0" data-to="52" data-speed="5000" data-refresh-interval="50">52</span> -->
    <!--           <span class="fh5co-counter-label">Total Student outreach</span> -->
    <!--         </div> -->
    <!--       </div> -->
    <!--     </div> -->
    <!--   </div> -->
    <!-- </section> -->

    <section id="fh5co-contact" data-section="contact">
      <div class="container">
        <div class="row">
          <div class="col-md-12 section-heading text-center">
            <h2 class="to-animate">Get In Touch</h2>
            <div class="row">
              <div class="col-md-12 subtext to-animate">
                <h3>You can get in touch with us at:</h3>
                <H3>+1 (206)376-7096</H3>
                <h3>projectmhea@gmail.com</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <footer id="footer" role="contentinfo">
      <a href="#" class="gotop js-gotop">To<i class="icon-arrow-up2">Top</i></a>
      <div class="container">
        <div class="">
          <div class="col-md-12 text-center">

          </div>
        </div>
      </div>
    </footer>

    <!-- jQuery -->
    <script src="assets/js/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="assets/js/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="assets/js/jquery.waypoints.min.js"></script>
    <!-- Stellar Parallax -->
    <script src="assets/js/jquery.stellar.min.js"></script>
    <!-- Counter -->
    <script src="assets/js/jquery.countTo.js"></script>
    <!-- Magnific Popup -->
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/magnific-popup-options.js"></script>
    <!-- Main JS -->
    <script src="assets/js/main.js"></script>

  </body>
</html>
